#footer {
    background-color: #0f172a;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

#foot1 {
    width: 60%;
}

#foot2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#foot2 a {
    color: #13d5c2;
    text-decoration: none;
    transition: color 0.3s ease;
}

#foot2 a:hover {
    color: white;
}
