*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-container{
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* background:url("https://media.istockphoto.com/id/485489111/photo/bookshelf-in-public-library-shallow-dof.jpg?s=1024x1024&w=is&k=20&c=61PsIOn60ie60w-KQz95L3d-Y_47LLtWmpLM_HFZQNE=")center/cover no-repeat ; */
}
.card{
    height: 280px;
    width: 250px;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(16, 31, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.3s ease;
    padding: 20px;
    color: white;

}

.card:hover{
    transform: translateY(-12px);
    box-shadow: 0 15px 30px rgb(38, 49, 49);
    cursor: pointer;
}
.card>count{
    font-size: 40px;
    font-weight: bold;
    color: rgb(48, 48, 48);
}
#Students{
    background: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
}

#Colleges{
    background: url("https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
}
#Companies{
    background: url("https://images.unsplash.com/photo-1542744173-8e7e53415bb0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
}
#Jobs{
    background: url("https://images.unsplash.com/photo-1556761175-b413da4baf72?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")center/cover no-repeat;
}